.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
  font-family: var(--font-family);
}

.gpt3__cta-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */

  color: #0e0e0e;
}

.gpt3__cta-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  /* or 188% */
}

.gpt3__cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gpt3__cta-btn button {
  padding: 0.7rem 1rem;
  background: #000000;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__cta {
    margin: 4rem 2rem;
  }
  .gpt3__cta-btn button {
    font-size: 14px;
    line-height: 28px;
  }
}
